<!DOCTYPE html>

<html>
    <head>
        <title>Control Panel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
        <script type="text/javascript">
            var webport;
            var controlport;
            var webroot;
            var defaultpage;
            var selected;
            var server = document.URL;

            function getLog()
            {
                alert('TODO ga naar log scherm');
            }

            function postFormInfo()
            {
                alert("config updated");
                webport = document.getElementById("webport").value;
                controlport = document.getElementById("controlport").value;
                webroot = document.getElementById("webroot").value;
                defaultpage = document.getElementById("defaultpage").value;
                selected = document.getElementById("dirbrowsing").checked;
                //var data = webport + "$" + controlport + "$" + webroot + "$" + defaultpage + "$" + selected;
                var data = webport + "," + controlport + "," + webroot + "," + defaultpage + "," + selected;
                httpPost(server + '/configPost', data);

            }

            function createFormInfo()
            {
                var info = httpGet(server + '/config');
                var res = info.split("$");
                webport = res[0];
                controlport = res[1];
                webroot = res[2];
                defaultpage = res[3];
                selected = res[4];

                document.getElementById("webport").value = webport;
                document.getElementById("controlport").value = controlport;
                document.getElementById("webroot").value = webroot;
                document.getElementById("defaultpage").value = defaultpage;
                document.getElementById("dirbrowsing").checked = selected;
            }

            function httpGet(theUrl)
            {
                var xmlHttp = null;
                xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", theUrl, false);
                xmlHttp.send(null);
                return xmlHttp.responseText;
            }

            function httpPost(url, data)
            {

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", url, true);
                //Send the proper header information along with the request
                xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                //xmlHttp.setRequestHeader("Content-length", data.length);
                //xmlHttp.setRequestHeader("Connection", "close");

                xmlHttp.onreadystatechange = function() {//Call a function when the state changes.
                    if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                        alert(xmlHttp.responseText);
                    }
                };
                xmlHttp.send(data);
            }
        </script>
    </head>

    <body>
        <div>
            <h1> Control Panel </h1> 

            <form name="myForm" onsubmit="return false" method="get">                
                Web Port: <input type="text" id="webport" value="loading..."><br>
                Control Port: <input type="text" id="controlport" value="loading..."><br>
                Web root: <input type="text" id="webroot" value="loading..."><br>
                Default page: <input type="text" id="defaultpage" value="loading..."><br>
                Directory browsing <input type="checkbox" id="dirbrowsing"><br>
                <input type="submit" value="Submit" onclick="postFormInfo();">
            </form> 
            <script>
                createFormInfo();
            </script>


            <form onsubmit="getLog();">
                <input type="submit" value="logfile">
            </form>
        </div>
    </body>
</html>
